@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.mainWrapper{

}

.navBarWrapper{
    background-color: rgba(0, 128, 0, 0);

    position: relative;
    width: 100%;
    z-index: 10;
}
    .navBarWrapper > nav{
        color: white;
        display: flex;
            align-items: center;
            justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
        .navBarWrapper > nav > span{
            outline: 1px solid white;
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom: 12px;
            padding-top: 12px;
        }

.backgroundWrapper{
    background-color: white;
    display: block;
    position: relative;
    height: 100vh;
    z-index: 1;
}

.backgroundImage{
    background-image: url('../images/one.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    display: flex;
        align-items: center;
    height: 100%;

    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    z-index: -10;
}
    .bannerText{
        
        /* background-color: yellow; */
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        /* outline: 1px solid white; */
        
        margin: 0 auto;
        text-align: center;
        width: 100%;

        /* Centering In Div */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bodyWrapper{
    background-color: white;
    display: flex;
        flex-direction: column;
    position: relative;
    height: 100vh;
    z-index: 1;
}
    .bodyWrapper > div{
        outline: 5px solid orange;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
    }

    .bodyContent{
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        outline: 1px solid red;
    }
    .contactFormWrapper{
        background-color: red;
        display: flex;
            align-items: center;
            justify-content: center;
        height: 100%;
    }

    .footerWrapper{

    }
        .footerContent{
            display: flex;
                align-items: center;
                justify-content: space-evenly;
        }

@media (min-width: 800px) { 

    .bannerText{
        font-size: 5rem;
    }
 }

 @media (min-width: 1200px) { 

    .bannerText{
        font-size: 6rem;
    }
 }