.latest{
    margin-top: 60px;
    width: 100%;
}
    .latest > h2 {
        text-align: center;
    }

.latestWrapper{
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.column{
    padding-bottom: 21px;
    width: 100%;

    animation: aniColumn 1s;
    animation-fill-mode: forwards;
}
.column:hover{
    outline: 1px solid #30415208;
}

    @keyframes aniColumn{
        0%{
            transform: translate(10px, 20px);
        }
        100%{
            transform: translate(10px, 10px);
        }
    }
    .column > div > a {
        text-decoration: none !important;
    }
    .column-image > img{
        width: 100%;
        z-index: 1;
    }

        .column-image{
            position: relative;
        }
        .column-image > div > div{ 
            min-height: 250px;
        }
        .latestNewsDate{
            color: grey;
            font-size: 14px;
        }
        
        .latestNewsTitle {
            color: black;
            font-size: 24px;
            padding-top: 5px;   
            padding-bottom: 10px;
            text-decoration: none;
        }

            .latestNewsTitle > a,
            .latestNewsTitle > a:visited {
                color: black;
                text-decoration: none;
            }
            .latestNewsTitle > h3{
                padding: 0;
                margin: 0;
            }

        .overlay{
            background-color: rgb(0 0 0 / 25%);
            color: #fff700;
            cursor: pointer;
            display: flex;
                justify-content: center;
                align-items: center;
            font-size: 30px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 98%;
            opacity: 0;
            z-index: 10;
        }
        .overlay > span { 
            font-size: 4rem;
            opacity: 0.75;
        }
            .column:hover .overlay{
                animation: showOverlay 1s;
                animation-fill-mode: forwards;
            }

            .endOfArticlesMessage > div{
                cursor: pointer;
                color: grey;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                opacity: 0.5;
               padding-top: 50px;
               padding-bottom: 50px;
            }
            .endOfArticlesMessage > div > span{
                font-size: 50px;
            }
            .endOfArticlesMessage > div > button {
                border: none;
                cursor: inherit;
                color: inherit;
                background-color: white;
                font-size: 20px;
                padding: 0;
            }


            #showMoreIcon{
                animation: rotateIcon 1s;
                animation-fill-mode: forwards;
            }

            @keyframes rotateIcon {
                0%{
                  transform: rotate(0);  
                }
                100%{
                    transform: rotate(45deg);
                }
            }

            @keyframes showOverlay {
                0%{
                    opacity: 0;
                }
                30%{
                    opacity: 1;
                }
                100%{
                    opacity: 1;
                }
            }
    
            @media (min-width: 700px) { 
                .latestWrapper{
                    flex-direction: row;
                        justify-content: space-between;
                }
            
                .column{
                    width: 33%;
                }
                
                #middleColumn{
                    margin-left: 20px;
                    margin-right: 20px;
                }   
            }