.footerWrapper{
    background-color: white;
    padding-bottom: 60px;
    padding-top: 60px;
    position: relative;
    z-index: 1;            
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    .footerContent{
        display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        max-width: 1000px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    #footerLeft{
        display: flex;
        align-items: center;
    }
        #footerLeft > h1{
            padding: 0;
            padding-right: 5px;
            margin: 0;
        }
    #footerRight > p{
        color: grey;
    }
        #footerRight p > span{
            color: black;
            text-decoration: underline;
            font-weight: bold;
        }


    .footerWrapper img{
        height: 50px;
        position: absolute;
        transform: translateY(140px);
        animation: shenanigans 30s;
        /* animation-fill-mode: forwards; */
        opacity: 0.1;
    }

    @keyframes shenanigans {
        0%{
            transform: translateY(140px);
        }
        10%{
            transform: translateY(70px);
        }
        100%{
            transform: translateY(140px);
        }
    }
    .footerBlock{
        background-color: #fff700;
        display: flex;
            align-items: center;
            justify-content: center;
        height: 75px;
        outline: 1px solid 304152;
        position: relative;        
        z-index: 1;
    }
    .footerBlock > span{
        color: #304152;
        cursor: pointer;
        font-size: 50px;
    }

@media (min-width: 700px) { 


    .footerContent{
        flex-direction: row;
        align-items: center;
    }

}